## **Import Libraries**

In [ ]:
from datetime import *
from bs4 import BeautifulSoup
import requests
# from fake_useragent import UserAgent
from tqdm import tqdm
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from time import sleep, perf_counter
from threading import Thread
import pandas as pd
tqdm.pandas()

## **Manipulate With Date&Time**

In [ ]:
d = datetime.now().date()
d

datetime.date(2022, 9, 2)

## **For Loop to Check on Pages**

In [ ]:
for x in range(0, 600, 25):
  print(x)

0
25
50
75
100
125
150
175
200
225
250
275
300
325
350
375
400
425
450
475
500
525
550
575

**Retrieving Nights,Checkin,CheckOut,TheCity,Title,ThePrice and The Room Type From Booking**

In [ ]:
# initialize lists to save 
urls = []
xnights=[]
checkinlist=[]
checkoutlist=[]
resultlist=[]
citylist=[]
titleList=[]
Pricefirst=[]
rOOMTYPE=[]

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.82 Safari/537.36'
}

start_time = perf_counter()
print('Starting a task...')

for i in range(365):
  checkin = d + timedelta(days=i)
  checkout = d + timedelta(days=i + 1)
  for x in range(0, 600, 25):
    url=f'https://www.booking.com/searchresults.ar.html?label=gen173nr-1FCAEoggI46AdIM1gEaMQBiAEBmAEBuAEXyAEM2AEB6AEB-AELiAIBqAIDuAKGlcqYBsACAdICJGZlYTg3ZWM1LTc1MWUtNDBmZC05MDYzLTRlZWMzZjQzODliZtgCBuACAQ&sid=448402776627e7f2557aa7d2e8002e2f&aid=304142&ss=%D8%A7%D9%84%D8%B1%D9%8A%D8%A7%D8%B6&ssne=%D8%A7%D9%84%D8%B1%D9%8A%D8%A7%D8%B6&ssne_untouched=%D8%A7%D9%84%D8%B1%D9%8A%D8%A7%D8%B6&lang=ar&sb=1&src_elem=sb&src=searchresults&dest_id=900040280&dest_type=city&checkin={checkin}&checkout={checkout}&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure&offset={x}'
    response=requests.get(url,headers=headers)
    soup=BeautifulSoup(response.content,'lxml')
    xnight=soup.find_all('div', {'data-testid':'price-for-x-nights'}) 
    titlelink=soup.find_all('a', {'data-testid':'title-link'})
    result=soup.find_all('h1', {'class':'e1f827110f'})
    city=soup.find_all('span', {'data-testid':'address'})
    result=soup.find_all('h1', {'class':'e1f827110f'})
    price=soup.find_all('span', {'class':'fcab3ed991'})
    title=soup.find_all('div', {'data-testid':'title'})
    roomtype=soup.find_all('span', {'class':'df597226dd'})

    for night in xnight:
      xnights.append(night.text)
      checkinlist.append(checkin)
      checkoutlist.append(checkout)
      for a in result:
        resultlist.append(a.text)
    for c in city:
      citylist.append(c.text)
    for b in title:
      titleList.append(b.text.replace('\n','').replace('\xa0',''))
    for j in price:
     Pricefirst.append(j.text.replace('\n','').replace('\xa0','')) 
    for l in roomtype:
      rOOMTYPE.append(l.text)

    for link in titlelink : 
      links=link.get('href')
      urls.append(links)
end_time = perf_counter()
print('done')

print(f'It took {end_time- start_time: 0.2f} second(s) to complete.')

Starting a task...
done
It took  18514.69 second(s) to complete.

**CheckTheLength For All the Lists**

In [ ]:
print(len(urls))
print(len(checkinlist))
print(len(checkoutlist))
print(len(xnights))
print(len(resultlist))
print(len(citylist))
print(len(titleList))
print(len(Pricefirst))
print(len(rOOMTYPE))

164666
164666
164666
164666
164666
164666
164666
164666
164666

**Create A DataFrame From The Lists**

In [ ]:
d={'URLS':urls,'City':citylist,'Title':titleList,'Price':Pricefirst,'RoomType':rOOMTYPE,'Check_in':checkinlist,'Check_Out':checkoutlist}
import pandas as pd
df=pd.DataFrame(d)
df.head()

# rating cleaned
# score cleaned
# price 3.76 to convert in Riyal
# Day and Month
# Room Type Categorize

,URLS,City,Title,Price,RoomType,Check_in,Check_Out
0,https://www.booking.com/hotel/sa/golden-dune.a...,الرياض,جولدن ديون هوتل & سويت,US$96,غرفة سوبيريور مزدوجة,2022-09-03,2022-09-04
1,https://www.booking.com/hotel/sa/fndq-lbyrl-la...,الرياض,فندق لابيرلا,US$75,غرفة توأم مع حمام خاص,2022-09-03,2022-09-04
2,https://www.booking.com/hotel/sa/krm-lryd-kare...,الرياض,فندق كارم الرياض Karim Hotel Riyadh,US$93,غرفة قياسية مزدوجة,2022-09-03,2022-09-04
3,https://www.booking.com/hotel/sa/al-fahd-suite...,"العليا, الرياض",Carawan Hotel Olaya - فندق كروان العليا,US$66,غرفة مزدوجة مع حوض استحمام,2022-09-03,2022-09-04
4,https://www.booking.com/hotel/sa/myn-lmlq-107....,الرياض,Almakan Hotel 113,US$46,استوديو,2022-09-03,2022-09-04

**Minimize The Dataset Rows  By The Unique Values**

In [ ]:
HotelUnique = df.drop_duplicates(
  subset = ['Title'],
  keep = 'first').reset_index(drop = True)

**Icreated A DataFrame Only For URLS&Title**

In [ ]:
HotelUnique=HotelUnique[['URLS','Title']]

In [ ]:
from datetime import *
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from time import sleep, perf_counter
from threading import Thread
import pandas as pd
tqdm.pandas()

In [ ]:
def add_Rate(row):
  url = row["URLS"]
  headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.82 Safari/537.36'
}
  rating=[]

  try:
    session = requests.Session()
    retry = Retry(connect=10, backoff_factor=0.5)
    adapter = HTTPAdapter(max_retries=retry)
    session.mount('http://', adapter)
    session.mount('https://', adapter)
    session=session.get(url,headers=headers)
    soup=BeautifulSoup(session.content,'lxml')
    latrate=soup.find_all('span',class_='bui-rating')
    for m in latrate:
      Rating=m.get('aria-label')
      rating.append(Rating)
      return rating
  except IndexError:
    return 'null'

In [ ]:
def Rate():
  print('Starting a task...')
  HotelUnique["Rate"] = HotelUnique.progress_apply(add_Rate, axis=1)
  print('done')

In [ ]:
def add_Address(row):
  url = row["URLS"]
  headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.82 Safari/537.36'
}
  AddressList=[]
  try:
    session = requests.Session()
    retry = Retry(connect=10, backoff_factor=0.5)
    adapter = HTTPAdapter(max_retries=retry)
    session.mount('http://', adapter)
    session.mount('https://', adapter)
    session=session.get(url,headers=headers)
    soup=BeautifulSoup(session.content,'lxml')
    Adress=soup.find_all('span', {'class':'hp_address_subtitle'})
    for ad in Adress:
      adress=ad.text
      AddressList.append(adress)
      return AddressList
  except IndexError:
    return 'null'

In [ ]:
def Address():
  print('Starting a task...')
  HotelUnique["Address"] = HotelUnique.progress_apply(add_Address, axis=1)
  print('done')

In [ ]:
def add_location(row):
  url = row["URLS"]
  headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.82 Safari/537.36'
}
  latlon=[]
  try:
    session = requests.Session()
    retry = Retry(connect=10, backoff_factor=0.5)
    adapter = HTTPAdapter(max_retries=retry)
    session.mount('http://', adapter)
    session.mount('https://', adapter)
    session=session.get(url,headers=headers)
    soup=BeautifulSoup(session.content,'lxml')
    latclass=soup.find_all('a',class_='jq_tooltip')
    for m in latclass:
      lating=m.get('data-atlas-latlng')
      latlon.append(lating)
      return latlon[0]
  except IndexError:
    return 'null'

In [ ]:
def location():
  print('Starting a task...')
  HotelUnique["latlon"] = HotelUnique.progress_apply(add_location, axis=1)
  print('done')

In [ ]:
def add_Score(row):
  url = row["URLS"]
  headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.82 Safari/537.36'
}
  Scorelist=[]
  try:
    session = requests.Session()
    retry = Retry(connect=10, backoff_factor=0.5)
    adapter = HTTPAdapter(max_retries=retry)
    session.mount('http://', adapter)
    session.mount('https://', adapter)
    session=session.get(url,headers=headers)
    soup=BeautifulSoup(session.content,'lxml')
    latclass=soup.find_all('span', {'class':'review-score-badge'})[1]
    for r in soup.find_all('span', {'class':'review-score-badge'})[1]:
      Scores=r
      Scorelist.append(Scores)
      return Scorelist
  except IndexError:
    return 'null'

In [ ]:
def Score():
  print('Starting a task...')
  HotelUnique["Score"] = HotelUnique.progress_apply(add_Score, axis=1)
  print('done')

In [ ]:
start_time = perf_counter()
thread1 = Thread(target=Rate)
thread2 = Thread(target=Address)
thread3 = Thread(target=location)
thread4 = Thread(target=Score)
thread1.start()
thread1.join()
thread2.start()
thread2.join()
thread3.start()
thread3.join()
thread4.start()
thread4.join()
end_time = perf_counter()
print(f'It took {end_time- start_time: 0.2f} second(s) to complete.')

Starting a task...

100%|██████████| 770/770 [51:55<00:00,  4.05s/it]

done
Starting a task...

100%|██████████| 770/770 [51:35<00:00,  4.02s/it]

done
Starting a task...

100%|██████████| 770/770 [53:10<00:00,  4.14s/it]

done
Starting a task...

100%|██████████| 770/770 [53:07<00:00,  4.14s/it]

done
It took  12589.42 second(s) to complete.

In [ ]:
HotelUnique.isnull().sum()

URLS         0
Title        0
Rate       225
Address      0
latlon       1
Score        0
dtype: int64

In [ ]:
test.isnull().sum()/len(test)*100

URLS       0.000000
Title      0.000000
Rate       0.000000
Address    0.000000
latlon     0.199601
Score      0.000000
dtype: float64

In [ ]:
nullvalues=HotelUnique[HotelUnique['latlon'].isnull()]

In [ ]:
nullvalues['URLS'][3]

'https://www.booking.com/hotel/sa/al-fahd-suites.ar.html?label=gen173nr-1FCAEoggI46AdIM1gEaMQBiAEBmAEBuAEXyAEM2AEB6AEB-AELiAIBqAIDuAKGlcqYBsACAdICJGZlYTg3ZWM1LTc1MWUtNDBmZC05MDYzLTRlZWMzZjQzODliZtgCBuACAQ&sid=448402776627e7f2557aa7d2e8002e2f&aid=304142&ucfs=1&arphpl=1&checkin=2022-09-03&checkout=2022-09-04&dest_id=900040280&dest_type=city&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=4&hapos=4&sr_order=popularity&srpvid=483da31e223200c2&srepoch=1662160319&all_sr_blocks=24659810_356739832_0_1_0&highlighted_blocks=24659810_356739832_0_1_0&matching_block_id=24659810_356739832_0_1_0&sr_pri_blocks=24659810_356739832_0_1_0__24750&from=searchresults#hotelTmpl'

In [ ]:
test=HotelUnique.dropna(subset=['Rate'])

In [ ]:
test=HotelUnique.dropna(subset=['Score'])
test

,URLS,Title,Rate,Address,latlon,Score
0,https://www.booking.com/hotel/sa/golden-dune.a...,جولدن ديون هوتل & سويت,[3 out of 5],"[\n شارع سعود العثمان سعود سعود العثمان سعود, ...","24.68825273,46.80286766",[\n8.1\n]
1,https://www.booking.com/hotel/sa/fndq-lbyrl-la...,فندق لابيرلا,[3 out of 5],"[\nفندق لابيرلا, 13216 الرياض, المملكة العربية...","24.79451790,46.81846073",[\n7.3\n]
2,https://www.booking.com/hotel/sa/krm-lryd-kare...,فندق كارم الرياض Karim Hotel Riyadh,[4 out of 5],"[\nPrince Mugrin Ibn Abdulaziz, An Nuzhah Dist...","24.75476486,46.70609703",[\n8.6\n]
3,https://www.booking.com/hotel/sa/al-fahd-suite...,Carawan Hotel Olaya - فندق كروان العليا,None,"[\nOlaya General St,, العليا, 11534 الرياض, ال...","24.67661883,46.69412881",[\n7.4\n]
4,https://www.booking.com/hotel/sa/myn-lmlq-107....,Almakan Hotel 113,[3 out of 5],"[\nKing Fahd Road العمرة -الملقا, 13521 الرياض...","24.66230438,46.70117478",[\n6.6\n]
...,...,...,...,...,...,...
765,https://www.booking.com/hotel/sa/tll-lysmyn.ar...,Jasmine View,None,"[\nAram, 13322 الرياض, المملكة العربية السعودي...","24.80729795,46.65828847",[\n10\n]
766,https://www.booking.com/hotel/sa/dr-mysn-2-lsh...,دار مياسن 2 لشقق المفروشة,None,"[\nشارع الحكم المستنصر باالله, الرياض, المملكة...","24.75431084,46.80357207",null
767,https://www.booking.com/hotel/sa/shqq-wjym-wms...,شقق وجيم ومسبح صالة آلعاب ( بلياردو - تنس طاول...,None,"[\nالنرجس, 12422 الرياض, المملكة العربية السعو...","24.82885539,46.68850810",null
768,https://www.booking.com/hotel/sa/elegant-high-...,Elegant high-rise 1-Bdrm apartment w/ smart ac...,None,[\nطريق الملك فهد Burj Rafal Private 47th floo...,"24.79290371,46.63224250",null
769,https://www.booking.com/hotel/sa/shqq-ldr-y-ld...,شقق الدرعية,None,"[\nالرياض, الرياض, المملكة العربية السعودية\n]","24.75347780,46.58076789",null

In [ ]:
test=test[test.Score != "null"]

In [ ]:
len(test[test.Score == "null"])

0

In [ ]:
test.reset_index(inplace=True)

In [ ]:
df3=df.merge(test, on='Title', how='left')

In [ ]:
df3.to_excel("RiyadhHotelsAfterScraping.xlsx")